{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h3 class="text-success">
            <i class="bi bi-person-plus-fill me-2"></i>
            Add Customer
        </h3>

        <hr>

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">
                <label>Customer ID</label>
                <input type="text" class="form-control" name="customer_id" required>
            </div>

            <div class="mb-3">
                <label>Customer Name</label>
                <input type="text" class="form-control" name="customer_name" required>
            </div>

            <div class="mb-3">
                <label>Mobile Number</label>
                <input type="text" class="form-control" name="mobile_no" maxlength="10" pattern="[0-9]{10}" title="Please Enter Exactly 10 Digits" required>
            </div>

            <div class="mb-3">
                <label>Address</label>
                <textarea class="form-control" name="address" required></textarea>
            </div>

            <button type="submit" class="btn btn-success">
                Save Customer
            </button>

        </form>

    </div>

</div>

{% endblock %}