{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row justify-content-center mt-5">

<div class="col-md-5">

<div class="card shadow p-4">

<h2 class="text-center text-success">
    <i class="bi bi-person-fill"></i> Customer Login
</h2>

<hr>

<form>

<div class="mb-3">

<label>

Customer ID

</label>

<input type="text"

class="form-control"

placeholder="Enter Customer ID">

</div>

<div class="mb-3">
    <label>Password</label>

    <div class="input-group">

        <input type="password"
            class="form-control"
            id="password"
            placeholder="Enter Password">

        <span class="input-group-text" onclick="togglePassword()" style="cursor:pointer;">
            <i class="bi bi-eye" id="eyeIcon"></i>
        </span>

    </div>
</div>

<button class="btn btn-success w-100">

Login

</button>

</form>

</div>

</div>

</div>

</div>



<script>
function togglePassword() {

    let password = document.getElementById("password");
    let eye = document.getElementById("eyeIcon");

    if (password.type === "password") {
        password.type = "text";
        eye.className = "bi bi-eye-slash";
    } else {
        password.type = "password";
        eye.className = "bi bi-eye";
    }

}
</script>


{% endblock %}